<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
<div class="wrapper">
  <header class="header">
    <div class="container clearfix d-flex justify-content-center align-items-center">
      <h2 class="mr-auto">Landrick</h2>
      <div class="nav d-flex align-items-center">
        <ul class="nav-items d-flex">
          <li class="nav-item">
            <a class="nav-link">home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">lading<i class="fa fa-angle-down icon" aria-hidden="true"></i></a>
            <div class="dropdown-content">
              <ul class="dropdown-items">
                <li class="dropdown-item"><a class="dropdown-link">saas</a></li>
                <li class="dropdown-item"><a class="dropdown-link">agency</a></li>
                <li class="dropdown-item"><a class="dropdown-link">application</a></li>
                <li class="dropdown-item"><a class="dropdown-link">studio</a></li>
                <li class="dropdown-item"><a class="dropdown-link">business</a></li>
                <li class="dropdown-item"><a class="dropdown-link">modern business</a></li>
                <li class="dropdown-item"><a class="dropdown-link">hotel</a></li>
                <li class="dropdown-item"><a class="dropdown-link">marketing</a></li>
                <li class="dropdown-item"><a class="dropdown-link">enterprise</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link">pages<i class="fa fa-angle-down icon" aria-hidden="true"></i></a>
            <div class="dropdown-content">
              <ul class="dropdown-items">
                <li class="dropdown-item"><a class="dropdown-link">saas</a></li>
                <li class="dropdown-item"><a class="dropdown-link">agency</a></li>
                <li class="dropdown-item"><a class="dropdown-link">application</a></li>
                <li class="dropdown-item"><a class="dropdown-link">studio</a></li>
                <li class="dropdown-item"><a class="dropdown-link">business</a></li>
                <li class="dropdown-item"><a class="dropdown-link">modern business</a></li>
                <li class="dropdown-item"><a class="dropdown-link">hotel</a></li>
                <li class="dropdown-item"><a class="dropdown-link">marketing</a></li>
                <li class="dropdown-item"><a class="dropdown-link">enterprise</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link">docs</a>
          </li>
        </ul>
      </div>
      <button class="btn btn-primary ml-auto">
        Buy Now
      </button>
    </div>
  </header>
  <section class="introduction">
    <div class="container d-flex flex-direction-column align-items-center">
      <h1 class="heading">Conduct More Customer In A Better Way</h1>
      <p class="text">Launch your campaign and benefit from our expertise on designing and managing conversion centered
        bootstrap4 html
        page.</p>
      <button class="btn btn-primary m-1">Start Free Trial</button>
      <img src="../images/home.209c3e08.png" alt="img" class="intro-image m-2">
      <h2 class="heading-2">Our Trusted Clients</h2>
      <p class="text">Start working with<a href="#"> Landrick </a>that can provide everything you need to generate
        awareness, drive traffic, connect.</p>
      <div class="d-flex">
        <img src="../images/client_1.png" class="client-img" alt="">
        <img src="../images/client_2.png" class="client-img" alt="">
        <img src="../images/client_3.png" class="client-img" alt="">
        <img src="../images/client_4.png" class="client-img" alt="">
        <img src="../images/client_5.png" class="client-img" alt="">
        <img src="../images/client_6.png" class="client-img" alt="">
      </div>
    </div>
  </section>
  <div class="section-divider"></div>
  <section class="product">
    <div class="container d-flex">
      <div class="d-flex items">
        <div class="item">
          <img src="../images/user.cf9b9fe5.svg" alt="" class="icon">
          <h3 class="heading-3">Easy To Use</h3>
          <p>Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
        </div>
        <div class="item">
          <img src="../images/calendar.3f528a38.svg" alt="" class="icon">
          <h3 class="heading-3">Easy To Use</h3>
          <p>Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
        </div>
        <div class="item">
          <img src="../images/sand-clock.a62cd0a5.svg" alt="" class="icon">
          <h3 class="heading-3">Easy To Use</h3>
          <p>Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
        </div>
      </div>
      <div class="">

      </div>
    </div>
  </section>
</div>
</body>
</html>
